.navbar {
    background-color: #FAD2D2;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
}

.button {
    background-color: #302F2F;
    border-radius: 8px;
    color: #FAD2D2;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}